p{
    font-size: 14px;
    line-height: 22px;
}

body{
    background-color: #fafafa;
}

.ReactStyleguidist-common__font {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.ReactStyleguidist-ReactComponent__heading,
.ReactStyleguidist-Layout__heading {
    font-family: 'Roboto Slab', serif;
}

.ReactStyleguidist-colors__base-bg {
    background: white;
}

.ReactStyleguidist-ReactComponent__root {
    font-size: 13px
}

.ReactStyleguidist-Markdown__code {
    font-size: 11px;
    padding: 4px;
    border-radius: 3px;
    background: #f7f7f7;
}

.ReactStyleguidist-Playground__preview{
    padding: 30px
}

.ReactStyleguidist-Playground__editor{
    background-color: #f5f5f5;
    padding: 30px;
}

.ReactStyleguidist-Editor__root .CodeMirror {
    height: auto;
    padding: 0;
    font-size: 12px;
}

.ReactStyleguidist-Playground__root {
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 3px;
}


.ReactStyleguidist-Props__heading{
    /*display: none;*/
}

.ReactStyleguidist-TableOfContents__search{
    display: none;
}

.ReactStyleguidist-Layout__sidebar{
    overflow: hidden;
}

.ReactStyleguidist-Layout__content{
    max-width: 920px;
    padding: 20px;
}
